.main{
    grid-area: left_men;
    background-color: aquamarine;
    height: 100vh;
    display: grid;
    padding-left: 20px;
}
.item {
    display: grid;
    text-align: left;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
}
.active {
    color: gold;
}