.main {
    grid-area: head;
    background-color: #697d69;
    display: grid;
    grid-template-columns: 11fr 1fr;
}
.wrapper{
    display: grid;
    grid-template-columns: 11fr 1fr;
}
.logo{
    display: block;
    width: 60px;
    height: 50px;
}
.wrapper_login{
    padding-top: 10px;
}
.login{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.name{
    color: white;
}
.button{
    background-color: #b3caf5;
    width: 60px;
}