.Profile{
    grid-area: main_cont;
    margin-left: 10px;
    background-color: lightgreen;
}
.main_img{
    width: 100%;
    max-height: 60vh;
}
.user_photo img{
    width: 100px;
    height: 100px;
}